.checkbox, .social__link, .clients__link, .element__link, .element__list, .features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  position: relative;
  background-color: #fff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  outline: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-container {
    padding: 0;
  }
}

.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

.main-nav__link {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav__link {
    margin-right: 88px;
  }
}

.main-nav__logo {
  color: #2196f3;
}

.main-list {
  display: flex;
  align-items: center;
}

.main-list__item {
  position: relative;
}
.main-list__item:not(:last-child) {
  margin-right: 50px;
}

.main-list__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list__link:hover, .main-list__link:focus {
  color: #2196f3;
}
.main-list__link--acent {
  color: #2196f3;
}

.secondary-nav {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .secondary-nav {
    display: block;
    align-items: center;
    margin-left: auto;
  }
}

.secondary-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.secondary-nav__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-nav__link:hover, .secondary-nav__link:focus {
  color: #2196f3;
}

.secondary-nav__logo {
  fill: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-nav__link:hover .secondary-nav__logo, .secondary-nav__link:focus .secondary-nav__logo {
  fill: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .secondary-nav__logo {
    margin-right: 8px;
  }
}

.main-list__link--acent::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  border: none;
  min-width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.menu.is-open {
  display: block;
}

.menu-button {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 0;
  border: none;
  background-color: #fff;
}
.menu-button .menu-button__cross {
  display: none;
}
.menu-button.is-open {
  position: fixed;
  right: 15px;
  top: 10px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__cross {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button.is-open .menu-button__cross {
  position: fixed;
  display: block;
}
.menu-button__cross:hover, .menu-button__cross:focus {
  fill: #2196f3;
}

.menu-button.is-open .menu-button__menu {
  display: none;
}

.menu-nav__link {
  display: block;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-nav__item:last-child {
  margin-bottom: 302px;
}

.menu-contacts__link {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: #2196f3;
}
.menu-contacts__link--primary {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

.menu-social {
  display: flex;
}

.menu-social__item {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  letter-spacing: 0.02em;
}
.menu-social__item:not(:first-child) {
  padding-left: 10px;
}
.menu-social__item:last-child {
  border: none;
  padding-right: 0;
}

.menu-social__link {
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  text-align: center;
}

.overlay {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header-img-480px.jpg);
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header-img-768px.jpg);
    height: 400px;
    max-width: 768px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #fff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.features__text {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  line-height: 1.71;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    width: 354px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item:nth-child(-n+2) {
    margin-bottom: 57px;
  }
}

.features__icon {
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.description {
  display: none;
}

.description__list {
  display: flex;
}

.description__item:not(:last-child) {
  margin-right: 30px;
}

.description--narrow {
  padding-top: 0;
}

.description__title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.description__image {
  display: block;
}

.description__box {
  position: relative;
}

.description__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.description__subtitle h3 {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__item:nth-child(n) {
    margin-bottom: 30px;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.team__image {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__image {
    width: 354px;
  }
}

.element {
  padding-top: 30px;
  padding-bottom: 24px;
}

.element__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.element__text {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.element__list {
  margin-top: 16px;
}

.element__items:not(:last-child) {
  margin-right: 10px;
}

.element__link {
  flex-direction: row;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.element__link a {
  display: flex;
}
.element__link:hover, .element__link:focus {
  background-color: #2196f3;
}

.element__svg {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.element__link:hover .element__svg, .element__link:focus .element__svg {
  fill: #fff;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 449px) {
  .clients__list {
    justify-content: center;
  }
}

.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}
.clients__link a {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}

.clients__svg {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__svg, .clients__link:focus .clients__svg {
  fill: #2196f3;
}

.clients__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}
@media screen and (max-width: 449px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(4) {
    margin-bottom: 0;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 76px;
  padding-right: 89px;
}

.footer-contacts__link {
  display: block;
  margin-bottom: 20px;
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #fff;
  text-align: center;
}

.footer-contacts__logo {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__item:last-child {
  margin-bottom: 60px;
}

.address__link {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #fff;
}

.social {
  text-align: center;
}

.social__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.social__list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ft-form {
    display: flex;
    flex-direction: column;
  }
}

.ft-form__text {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.ft-form__box {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ft-form__box {
    display: flex;
    flex-direction: column;
  }
}

.ft-form__flex {
  display: flex;
}

.ft-form__lable input {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.ft-form__lable input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ft-form__lable input {
    width: 450px;
  }
}

.ft-form__btn {
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.ft-form__btn p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ft-form__btn {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.category__item {
  margin-bottom: 15px;
}
.category__item:not(:last-child) {
  margin-right: 8px;
}
.category__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.category__button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #f5f3fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.category__button:hover, .category__button:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item:hover, .filter__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter__item:nth-child(3n+3) {
  margin-right: 0;
}
.filter__item:nth-child(9) {
  margin-bottom: 0;
}

.filter__link {
  text-decoration: none;
}

.filter__element {
  position: relative;
  overflow: hidden;
}

.filter__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter__img {
  display: block;
  width: 100%;
}

.filter__text {
  margin-top: 4px;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.filter__border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.filter__subtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
}

.filter__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item:hover .filter__overlay, .filter__item:focus .filter__overlay {
  transform: translateY(0%);
}

.backdrop {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  transition-property: translate;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    min-height: 609px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__button--position {
  position: static;
}
@media screen and (mix-width: 480px) {
  .modal__button--position {
    position: relative;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.modal__svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover .modal__svg,
.modal__svg .modal__button:focus {
  fill: #2196f3;
}

.modal__btn {
  display: flex;
  padding: 6px;
  outline: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-form__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
}

.modal-form__lable {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__svg {
  position: absolute;
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__position {
  position: relative;
}

.modal-form__input {
  margin-bottom: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}
.modal-form__input:focus ~ .modal-form__svg {
  fill: #2196f3;
}

.modal-form__textarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}
.modal-form__textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  padding-left: 15px;
}

.checkbox__text {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
}
.checkbox__text a {
  line-height: 1.71;
  color: #2196f3;
}

.checkbox__outcheckbox {
  margin-right: 7px;
}

.checkbox__btn--off {
  position: absolute;
  top: 50%;
  left: -15px;
  margin-right: 5px;
  transform: translate(-50%, -50%);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__outcheckbox:checked ~ .checkbox__btn--off {
  opacity: 0;
  pointer-events: none;
}

.checkbox__btn--on {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: -15px;
  margin-right: 5px;
  transform: translate(-50%, -50%);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__outcheckbox:checked ~ .checkbox__btn--on {
  opacity: 1;
  pointer-events: auto;
}

.button-form {
  display: block;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-form p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
}
.button-form:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */