.features__list {
    // display: flex;
    // width: 100%;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.features__text {
    // width: 270px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    color: $secondaryTextColor;
    line-height: 1.71;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
}

.features__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }

        &:not(:last-child) {
            margin-bottom: 0px;
        }
    }

}

.features__icon {
    @extend %displayFlexCenter;
    width: 100%;
    margin-bottom: 30px;
    height: 120px;

    background-color: #f5f4fa;
    border-radius: 4px;
    text-align: center;
}