.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $secondaryBackgroundColor;
}

.footer__flex {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer-flex {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
        padding-left: 76px;
        padding-right: 89px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer-contacts__link {
    display: block;
    margin-bottom: 20px;

    font-family: $secondaryFontFamily;
    font-weight: 700;
    // font-size: 26px;
    font-size: 24px;
    line-height: 1.19;
    color: $primaryLightColor;
    text-align: center;

    @media screen and (min-width: 1200px) {
        display: inline-block;
        font-size: 26px;
    }
}

.footer-contacts__logo {
  color: $acentColor;
}


.address__item {
    &:not(:last-child) {
        // margin-bottom: 9px;
        margin-bottom: 8px;
    }

    &:last-child {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0px;
        }

    }
}

.address__link {
    display: block;
    text-align: center;
    // width: 231px;
    color: $secondaryLightColor;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;

    @include primaryAnimation(color);

    &:hover,
    &:focus {
        color: $acentColor;
    }

    @media screen and (min-width: 1200px) {
        width: 231px;
        text-align: left;
    }
}

.address__link--white {
    color: $primaryLightColor;
}

.social {
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.social__title {
    margin-top: 0;
    margin-bottom: 20px;

    color: $primaryLightColor;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        margin-top: 14px;
        text-align: left;
    }
}

.social__list {
    display: flex;
    justify-content: center;
    
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.social__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__link {
    @extend %displayFlexCenter;

    height: 44px;
    width: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include primaryAnimation(background-color);

    &:hover,
    &:focus {
        background-color: $acentColor;
    }
}


