.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    // padding-bottom: 200px;
    // padding-top: 200px;
    background-color: $secondaryBackgroundColor;
    text-align: center;
}

.overlay {
    background-color: $secondaryBackgroundColor;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header-img-480px.jpg);
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header-img-768px.jpg);
        height: 400px;
        max-width: 768px;
    }
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    // max-width: 696px;
    max-width: 360px;
    color: $primaryLightColor;
    font-weight: 900;
    // font-size: 44px;
    font-size: 26px;
    // line-height: 1.36;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    
    color: $primaryLightColor;
    background-color: $acentColor;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}